{% extends "layout/base.html" %}

{% load static %}

{% block content %}
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Blogggg {{ category.title }}</h2>
                    <div class="page_link">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="#">{{ category.title }} </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area p_120">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        {% for post in posts %}
                        <article class="blog_style1">
                            	<div class="blog_img">
                            		<img class="img-fluid" src="{{ post.image.url }}" alt="">
                            	</div>
                            	<div class="blog_text">
									<div class="blog_text_inner">
										<a class="cat" href="#">Gadgets</a>
										<a href="{{ post.get_absolute_url }}"><h4>{{ post.title }}</h4></a>
                                        <p>{{ post.content|linebreaks|truncatewords:90 }}</p>
										<div class="date">
											<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> March 14, 2018</a>
											<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a>
										</div>
									</div>
                            	</div>
                            </article>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'partials/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endblock content %}